@model EventManagement.Models.Event
@{
    ViewData["Title"] = "Event PublicDetails";
}

<h2>Event Details</h2>

<div>
    <p><strong>Title:</strong> @Model.Title</p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Date:</strong> @Model.Date.ToShortDateString()</p>
    <p><strong>Location:</strong> @Model.Location</p>
    <p><strong>Capacity:</strong> @Model.Capacity</p>
</div>


<a asp-action="Index" class="btn btn-secondary">Back to List</a>
